h1{
    color: #000;
}
.header{
    background-color: chartreuse;
    display: flex;
    justify-content:center;
}

    body{background-color:chocolate;}
  
    body {background-image:url('g.jpg')}